.user-footer
.user-footer-menu
  %ul.user-footer-menu__list.bottom-margin-s
    %li.user-footer-menu__list__item
      = link_to "利用規約", "#"
    %li.user-footer-menu__list__item.user-footer-menu__list__item--space
    %li.user-footer-menu__list__item
      = link_to "プライバシー規約", "#"
    %li.user-footer-menu__list__item.user-footer-menu__list__item--space
    %li.user-footer-menu__list__item
      = link_to "ヘルプ", "#"
  .user-footer-menu__copyright © 1996-2018, Amazon.com, Inc. or its affiliates
