%footer
  .footer-navbar
    / navigation-bar-top
    .footer-nav-top
      .footer-nav-top-top トップへ戻る
      .footer-nav-top-middle
      .footer-nav-top-bottom

    / navigation-bar-bottom
    .footer-nav-bottom
      .footer-nav-bottom-top
      .footer-nav-bottom-bottom
