%footer
  .footer-navbar
    / navigation-bar-top
    .footer-nav-top
      .footer-nav-top-top トップへ戻る
      .footer-nav-top-middle
        %table.footer-nav-menu-table
          %tbody.footer-nav-menu-table__body
            %tr.footer-nav-menu-table__body__row
              %td.footer-nav-menu-table__body__row__data
                %ul.footer-nav-menu-table__body__row__data__list
                  %li.footer-nav-menu-table__body__row__data__list__item.footer-nav-menu-table__body__row__data__list__item--header Amazonについて
                  %li.footer-nav-menu-table__body__row__data__list__item 採用情報
                  %li.footer-nav-menu-table__body__row__data__list__item Amazonについて
                  %li.footer-nav-menu-table__body__row__data__list__item プレスリリース
                  %li.footer-nav-menu-table__body__row__data__list__item Amazonと地球
                  %li.footer-nav-menu-table__body__row__data__list__item Amazonのコミュニティ活動
                  %li.footer-nav-menu-table__body__row__data__list__item Amazon Story
                  %li.footer-nav-menu-table__body__row__data__list__item AmazonGlobal
              %td.footer-nav-menu-table__body__row__data.footer-nav-menu-table__body__row__data--space
              %td.footer-nav-menu-table__body__row__data
                %ul.footer-nav-menu-table__body__row__data__list
                  %li.footer-nav-menu-table__body__row__data__list__item.footer-nav-menu-table__body__row__data__list__item--header Amazonでビジネス
                  %li.footer-nav-menu-table__body__row__data__list__item Amazonで売る
                  %li.footer-nav-menu-table__body__row__data__list__item フルフィルメント by Amazon
                  %li.footer-nav-menu-table__body__row__data__list__item Amazon Businessで法人販売
                  %li.footer-nav-menu-table__body__row__data__list__item Amazon Pay (決済サービス)
                  %li.footer-nav-menu-table__body__row__data__list__item アソシエイト（アフィリエイト）
                  %li.footer-nav-menu-table__body__row__data__list__item Amazonで広告掲載をする
                  %li.footer-nav-menu-table__body__row__data__list__item Amazonで出版
                  %li.footer-nav-menu-table__body__row__data__list__item Amazonの仕入先になる
                  %li.footer-nav-menu-table__body__row__data__list__item 
                    %span.footer-nav-menu-table__body__row__data__list__item__carat ›
                    すべてのサービスを見る
              %td.footer-nav-menu-table__body__row__data.footer-nav-menu-table__body__row__data--space
              %td.footer-nav-menu-table__body__row__data
                %ul.footer-nav-menu-table__body__row__data__list
                  %li.footer-nav-menu-table__body__row__data__list__item.footer-nav-menu-table__body__row__data__list__item--header Amazonでのお支払い
                  %li.footer-nav-menu-table__body__row__data__list__item Amazonポイント
                  %li.footer-nav-menu-table__body__row__data__list__item Amazonギフト券
                  %li.footer-nav-menu-table__body__row__data__list__item Amazon Mastercard
                  %li.footer-nav-menu-table__body__row__data__list__item クレジットカード＆保険
                  %li.footer-nav-menu-table__body__row__data__list__item パートナーポイントプログラム
                  %li.footer-nav-menu-table__body__row__data__list__item Amazonギフト券チャージタイプ
                  %li.footer-nav-menu-table__body__row__data__list__item
                    %span.footer-nav-menu-table__body__row__data__list__item__carat ›
                    すべての支払い方法を見る
              %td.footer-nav-menu-table__body__row__data.footer-nav-menu-table__body__row__data--space
              %td.footer-nav-menu-table__body__row__data
                %ul.footer-nav-menu-table__body__row__data__list
                  %li.footer-nav-menu-table__body__row__data__list__item.footer-nav-menu-table__body__row__data__list__item--header ヘルプ＆ガイド
                  %li.footer-nav-menu-table__body__row__data__list__item 配送料と配送情報
                  %li.footer-nav-menu-table__body__row__data__list__item Amazon プライム
                  %li.footer-nav-menu-table__body__row__data__list__item 商品の返品・交換
                  %li.footer-nav-menu-table__body__row__data__list__item コンテンツと端末の管理
                  %li.footer-nav-menu-table__body__row__data__list__item ストア・特集一覧
                  %li.footer-nav-menu-table__body__row__data__list__item Amazonアシスタント
                  %li.footer-nav-menu-table__body__row__data__list__item ヘルプ
      .footer-nav-top-bottom
        .footer-nav-global
          .footer-nav-global__logo.nav-sprite
          .footer-nav-global__container
            .footer-nav-global__container__lang
              .footer-nav-global__container__lang__icon.nav-sprite-global
              .footer-nav-global__container__lang__text 日本語
              .footer-nav-global__container__lang__image.nav-sprite-global
            .footer-nav-global__container__country
              .footer-nav-global__container__country__icon.nav-sprite-global
              .footer-nav-global__container__country__text 日本

    / navigation-bar-bottom
    .footer-nav-bottom
      .footer-nav-bottom-top
      .footer-nav-bottom-bottom
