%header
  .header-navbar

    / navigation-bar-top
    .header-nav-top
      .header-nav-top-left
        .header-nav-logo
          = link_to root_path do
            %span.header-nav-logo__base.sprite-bluebeacon
            %span.header-nav-logo__locale.sprite-bluebeacon
            %span.header-nav-logo__prime.sprite-bluebeacon
      .header-nav-top-center
        .header-nav-search
          .header-nav-search__category
            %span.header-nav-search__category__text すべて
            %span.header-nav-search__category__image.sprite-bluebeacon

          %input.header-nav-search__textbox{type: "text"}
          .header-nav-search__button
            .header-nav-search__button__icon.sprite-bluebeacon
      .header-nav-top-right
        .header-nav-advertising
          = link_to "#" do
            = image_tag("swm-800x78-180301-NonPrime-UdE8l._V500720195_.png", size: "400x39")

    / navigation-bar-bottom
    .header-nav-bottom
      .header-nav-bottom-left
        .header-nav-receivers
          %span.header-nav-receivers__icon.sprite-bluebeacon
          .header-nav-receivers__address
            %span.header-nav-receivers__address__name お届け先 明戸俊英さん
            %span.header-nav-receivers__address__zip 650-0015
      .header-nav-bottom-center
        .header-nav-category
          %span.header-nav-category__text カテゴリー
          %span.header-nav-category__image.sprite-bluebeacon
        .header-nav-my-store
          .header-nav-my-store__top
            %span.header-nav-my-store__top__text Amazonポイント:
            %span.header-nav-my-store__top__point 100
          .header-nav-my-store__bottom
            %ul.header-nav-my-store__bottom__list
              %li.header-nav-my-store__bottom__list__item マイストア
              %li.header-nav-my-store__bottom__list__item タイムセール
              %li.header-nav-my-store__bottom__list__item ギフト券
              %li.header-nav-my-store__bottom__list__item Amazonで売る
              %li.header-nav-my-store__bottom__list__item ヘルプ
      .header-nav-bottom-right
        .header-nav-global
          %span.header-nav-global__lang JP
          %span.header-nav-global__image.sprite-bluebeacon
          %span.header-nav-global__icon.sprite-global
        .header-nav-vertical-border
        .header-nav-account
          %span.header-nav-account__top 明戸俊英さん
          %span.header-nav-account__bottom アカウント＆リスト
          %span.header-nav-account__image.sprite-bluebeacon
        .header-nav-order-history
          %span.header-nav-order-history__text 注文履歴
        .header-nav-prime
          %span.header-nav-prime__top 今すぐ確認
          %span.header-nav-prime__bottom プライム
          %span.header-nav-prime__image.sprite-bluebeacon
        .header-nav-cart
          %span.header-nav-cart__text カート
          %span.header-nav-cart__icon.sprite-bluebeacon
          %span.header-nav-cart__count 1
