%header
  .navbar
  
    .nav-top
      .nav-top-left
        .nav-logo
          .nav-logo__base.nav-sprite
          .nav-logo__locale.nav-sprite
          .nav-logo__prime.nav-sprite
      .nav-top-center
        .nav-search
      .nav-top-right

    .nav-bottom
