%header
  .navbar
    .nav-top
      .nav-top-left
        .nav-logo
          = link_to "#", {class: "nav-logo-link", controller: "home", action: :index} do
            %span.nav-logo__base.nav-sprite
            %span.nav-logo__locale.nav-sprite
            %span.nav-logo__prime.nav-sprite
      .nav-top-center
        .nav-search
          .nav-search__category
            %span.nav-search__category__text すべて
            %span.nav-search__category__image.nav-sprite

          %input.nav-search__textbox{type: "text"}
          .nav-search__button
            .nav-search__button__icon.nav-sprite
      .nav-top-right
        .nav-advertising
          = link_to "#" do
            = image_tag("swm-800x78-180301-NonPrime-UdE8l._V500720195_.png", size: "400x39")
    .nav-bottom
      .nav-bottom-left
        .nav-receivers
          .span.nav-receivers__icon.nav-sprite
          .nav-receivers__address
            %span.nav-receivers__address__name お届け先 明戸俊英さん
            %span.nav-receivers__address__zip 650-0015
      .nav-bottom-center

      .nav-bottom-right

