.footer-navbar{
  min-width: 1000px;
  height: 700px;
  margin-top: 30px;
}

// navigation-bar-top
.footer-nav-top-top{
  height: 49px;
  background-color: #37475A;
  padding: 15px 0 15px 0;
  font-size: 13px;
  font-family: arial,sans-serif;
  color: white;
  text-align: center;
}

// navigation-bar-bottom
.footer-nav-bottom{
  height: 60px;
  margin-top: 7px;
}
