*{
  box-sizing: border-box;
}

body{
  font-size: 13px;
  line-height: 19px;
  color: #111;
  font-family: "Hiragino Kaku Gothic Pro W3","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Hiragino Kaku Gothic Pro W3","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
    padding-bottom: 4px;
}

h1{
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
}

h4 {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.255;
}

a{
  text-decoration:none;

  &:hover{
    cursor: pointer;
    text-decoration: underline;
  }
}

.sprite-bluebeacon{
  background-image: url(https://images-fe.ssl-images-amazon.com/images/G/09/gno/sprites/nav-sprite-global_bluebeacon-V3-1x_optimized._CB516557390_.png);
}

.sprite-user{
  background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-28bd59af93d9b1c745bb0aca4de58763b54df7cf._V2_.png);
}

.sprite-user2{
  background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_jp_1x-f8582354fc42b464ef5eb709dd98f9371d3eafea._V2_.png)
}

.sprite-global{
  background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/InternationalCustomerPreferencesNavAssets-icp_sprite-7d1bfde38eb13748605e178896ede63a4aa68e0c._V2_.png);
}

.sprite-recent-history{
  background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/RecentHistoryFooterCSS-beacon_sprite-553793e4d98e5a3c349047b9d9097eecf5d799d9._V2_.png)
}
