*{
  box-sizing: border-box;
  font-family: arial,sans-serif;
}

a{
  &:hover{
    cursor: pointer;
  }
}

.nav-sprite{
  background-image: url(https://images-fe.ssl-images-amazon.com/images/G/09/gno/sprites/nav-sprite-global_bluebeacon-V3-1x_optimized._CB516557390_.png);
}

.nav-sprite-global{
  background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/InternationalCustomerPreferencesNavAssets-icp_sprite-7d1bfde38eb13748605e178896ede63a4aa68e0c._V2_.png);
}
