*{
  box-sizing: border-box;
}

a{
  &:hover{
    cursor: pointer;
  }
}

.nav-sprite{
  background-image: url(https://images-fe.ssl-images-amazon.com/images/G/09/gno/sprites/nav-sprite-global_bluebeacon-V3-1x_optimized._CB516557390_.png);
}
