/* for style check */
*{
  // border: 0.1px dashed #FFF;
}

header{

  .navbar{
    min-width: 1000px;
    height: 99px;
    background-color: #232F3E;

    .nav-top{
      height: 39px;

      .nav-top-left{
        height: 100%;
        float: left;
        display: inline-block;

        .nav-logo{
          width: 192px;
          float: left;
          position: relative;
          padding: 13px 18px 0 27px;
          display: inline-block;
          clear: both;

          &__base{
            width: 97px;
            height: 30px;
            background-position: -10px -51px;
            float: left;
          }

          &__locale{
            width: 31px;
            height: 14px;
            background-position: -270px -69px;
            margin-top: 6px;
            float: left;
          }

          &__prime{
            width: 45px;
            height: 17px;
            background-position: -160px -10px;
            position: absolute;
            top: 32px;
            left: 92px;
          }
        }
        
      }

      .nav-top-center{
        width: calc(100% - 192px - 400px);
        height: 100%;
        float: left;
        display: inline-block;
        padding: 11px 25px 0 0;

        .nav-search{
          height: 35px;
          background-color: white;
          border-radius: 4px;

          &__category{
            width: 69px;
            height: 35px;
            padding-left: 5px;
            background-color: #F3F3F3;
            border-right: none;
            border-radius: 4px 0 0 4px;
            float: left;
            padding-top: 2px;
            position: relative;

            &__text{
              font-size: 12px;
              font-family: arial,sans-serif;
              color: #666;
              line-height: 33px;
              margin-left:  5px;
              margin-right: 21px;
            }

            &__image{
              width: 8px;
              height: 4px;
              background-position: 0 1000px;
              position: absolute;
              top: 16px;
              right: 9px;
              border-style: solid;
              border-color: transparent;
              border-width: 4px;
              border-top: 4px solid #666;
            }
          }

          &__textbox{
            width: calc(100% - 69px - 45px);
            height: 35px;
            padding: 6px 10px 6px 0;

            &:focus{
              outline: none;
            }
          }

          &__button{
            width: 45px;
            height: 35px;
            background-color: #FEBD69;
            border-radius: 0 4px 4px 0;
            float: right;
            padding-left: 12px;
            padding-top: 7px;

            &__icon{
              width: 21px;
              height: 21px;
              background-position: -10px -290px;
            }

          }
        }
      }

      .nav-top-right{
        min-width: 350px;
        height: 100%;
        float: right;
        display: inline-block;

        .nav-advertising{
          width: 400px;
          padding-top: 9px;
        }
      }
    }

    .nav-bottom{
      height: 60px;

      .nav-bottom-left{
        width: 192px;
        height: 55px;
        float: left;
        margin-top: 5px;

        .nav-receivers-address{
          width: 163.34px;
          height: 44px;
          margin: 6px 0 0 10px;
          padding-left: 10px;

          &__icon{
            width: 22px;
            height: 22px;
            position: relative;
            left: 2px;
            top: 13px;
          }

          &__name{
            width: 134.34px;
            height: 14px;
            margin-top: 9px;
            padding-right: 11px;
          }

          &__zip{
            width: 70.17px;
            height: 20px;
            padding-right: 11px;
            padding-bottom: 5px;
          }

          &:hover{
            border: 1px solid #4f5965;
            border-radius: 3px;
          }

          .nav-sprite{
            background-position: -68px -340px;
          }
        }
      }
    }
  }
}
